
{erl_opts, [{parse_transform, lager_transform}, warnings_as_errors]}.

{deps, [
    {lager, {git, "https://github.com/basho/lager.git",
             {tag, "3.2.3"}}},
    {riak_dt, {git, "https://github.com/basho/riak_dt.git", {branch, "develop"}}},
    {epmdpxy, {git, "https://github.com/dergraf/epmdpxy.git"}},

    {eper, {git, "https://github.com/massemanet/eper.git"}}
]}.

{relx, [
    {release, {nsg, "0.1"}, [nsg, eper]},

    {dev_mode, true},
    {include_erts, false},

    {extended_start_script, true}
]}.
